body {
    /* background-color: #0E2643; */
    background-color: #063a72;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    max-height: 100%;
    /* overflow: hidden; */
}

h1 {
    margin: 0;
    /* font-family: 'Roboto', serif; */
}

hr {
    margin: 0.3rem;
}

.note-container {
    background: whitesmoke;
    border: 1px solid black;
    display: block;
    /* height: 90%; */
    /* width: 98%; */
    max-width: 98%;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 1rem;
    /* height: 98%; */
}

.note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .placeholder-text {
    color: grey;
} */

svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    fill: #0E2643;
    /* margin-left: 3rem; */
}

svg:hover {
    opacity: 50%;
    fill: red;
    pointer-events: visible;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
}

.note-body {
    /* height: 76%; */
    /* position: relative; */
    /* overflow-y: scroll; */
    /* white-space: pre-wrap; */
    margin: 0;
}

.panel {
    margin-bottom: 0px;
}

.text-content {
    margin: 0;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    /* padding-right: 1rem; */
    margin-top: 0.5rem;
}

button {
    padding: 0.3rem;
    margin: 0 0.2rem;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: white;
}

button:hover {
    cursor: pointer;
}

button.edit {
    background-color: #7DCFB6;
}

button.delete {
    background-color: #f98585;
}

button.save {
    background-color: orange;
}

.hide {
    /* visibility: hidden; */
    display: none;
}
