body {
    background-color: #46494C;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 20px;
    padding-left: 10px;
}

h2 {
    font-size: 14px;
}

hr {
    padding-left: 2px;
}

.site-container {
    background-color: #DCDCDD;
    width: 99%;
    height: 99%;
    margin: auto;
    display: flex;
    border-radius: 2px;
}

.menu-container {
    width: 30%;
    /* border: 1px solid black; */
    background-color: whitesmoke;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    padding-left: 4px;
    border-radius: 3px;
}

.notebook-container {
    padding: 4px;
    width: 50%;
    box-shadow: 3px 0 5px -2px #888;
    border-radius: 2px;
}

.chapter-container {
    padding: 4px;
    width: 50%;
    box-shadow: 3px 0 5px -2px #888
}

.notebooks, .chapters {
    background-color: whitesmoke;
    border-radius: 2px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    flex-grow: 1;
    width: 100%;
    margin: 2px;
    background-color: #46494C;
    padding: 4px;
    border-radius: 3px;
    color: whitesmoke;
}

.menu-item.active {
    background-color: #1985A1;
}

.menu-item:hover {
    font-weight: bolder;
    color: whitesmoke;
}

.create-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: whitesmoke;
}

.create.notebook {
    margin: 2px;
}

.btn:hover {
    background-color: grey;
}

.note-container {
    padding: 8px;
    width: 80%;
    display: flex;
    /* border: 1px solid black; */
}

.note-area {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    overflow-y: auto;
}

.note {
    background-color: whitesmoke;
    margin: 4px;
    border-radius: 3px;
    padding: 5px;
    padding-left: 15px;
    width: 96%;
    min-height: 200px;
    box-shadow: 4px 0 5px -2px #888
}

.note-title-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.note-edit {
    margin-right: 15px;
}

p.note-body {
    height: 6rem;
    margin: 0;
    max-height: 6rem;
    overflow: hidden;
    margin-bottom: 10px;
}

.note-footer-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 15px;
}

.note-tags, .note-date-info {
    color: gray;
    font-size: 12px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: white #46494C
  }
  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background: #DCDCDD
  }
  *::-webkit-scrollbar-thumb {
    background-color: #46494C;
    border-radius: 20px;
    border: 3px solid #46494C
  }