<html>
    <head>
        <title>Notebook</title>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>

    <body>
        <div class="site-container">

            {% block form %}{% endblock %}

            <div class="menu-container">

                <div class="notebook-container">

                    <h1>Notebooks</h1>

                    <hr>

                    <div class="notebooks" data-notebooks>
                        <!-- <div class="notebook menu-item">HTML/CSS</div>
                        <div class="notebook menu-item">JS</div>
                        <div class="notebook menu-item">Python</div>
                        <div class="notebook menu-item">Computer Science</div> -->
                    </div>

                    <div class="create-container">
                        <form action="" class="form-create-notebook" data-new-notebook-form>
                            <input 
                                type="text"
                                class="create notebook"
                                data-new-notebook-input
                                placeholder="New Notebook Name"
                                aria-label="New Notebook Name"
                            />
                            <button class="btn notebook">+</button>
                        </form>
                    </div>

                </div>

                <div class="chapter-container">

                    <h1>Chapters</h1>

                    <hr>

                    <div class="chapters">
                        <div class="chapter menu-item">HTML Foundations</div>
                        <div class="chapter menu-item">CSS Foundations</div>
                        <div class="chapter menu-item">SASS Foundations</div>
                    </div>

                </div>

            </div>

            <div class="note-container">

                <div class="menu-bar-container">
                    <a href ="/createnotebook" class="create btn">Create Notebook</a>
                    <a href ="/createchapter" class="create btn">Create Chapter</a>
                    <a href ="/createnote" class="create btn">Create Note</a>
                </div>

                <div class="note-area">
                    <div class="note">

                        <div class="note-title-area">

                            <h3 class="note-title">Title Goes Here</h3>

                            <button class="note-edit">Edit</button>

                        </div>

                        <hr>

                        <p class="note-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum animi quisquam deserunt eos dolorum fugit nihil dicta atque, vel omnis. Perspiciatis aliquid magnam laboriosam perferendis impedit exercitationem soluta laudantium eos?
                        Ea ullam quidem harum voluptas magnam repellat autem, deserunt rem laudantium eius sit perferendis sint culpa inventore, minus quia vero eum tempore iusto explicabo id ut aspernatur placeat. Consectetur, eum.
                        Debitis cumque doloribus id pariatur mollitia itaque reprehenderit illum ullam, quos laudantium optio tempora repudiandae unde voluptates dolor tempore laboriosam eos rem totam labore ab beatae vitae est? Temporibus, rem.
                        In illum, animi porro ipsa corporis aperiam libero quo nam omnis soluta unde accusamus aut, fugit ratione sint voluptatibus debitis? Praesentium rerum alias cumque, voluptate quaerat exercitationem magnam nostrum quae.
                        Similique, repudiandae, delectus laborum non aspernatur ut sapiente, sed eligendi esse ipsum voluptate optio. Labore consequatur consequuntur magnam quia. Sapiente aspernatur eum, facere quibusdam fugit iusto cumque ullam iste sed?
                        Cupiditate ut quis tempora tenetur sed at, vero aliquam quia eos reiciendis excepturi neque repellat ab odit doloribus maxime, quaerat accusantium error ipsum necessitatibus quae iure dolores assumenda. Cumque, laudantium.
                        Laborum iusto esse sapiente error ullam, vitae itaque officiis eligendi pariatur amet recusandae totam illo incidunt animi, similique modi debitis expedita voluptate repudiandae et ipsum aperiam. Deleniti veniam quo quam!
                        Maxime, repellendus tempora sunt accusamus harum aut voluptate esse quibusdam cum inventore nobis eligendi rerum. Adipisci, aliquam eligendi tempora nobis alias voluptate earum veritatis! Corrupti tenetur repellendus sit repudiandae optio!
                        Id, a reprehenderit, eligendi voluptatum veniam nobis hic qui porro consectetur, natus neque perspiciatis voluptas odit vel? Soluta quam qui unde, quos voluptatum iste, incidunt commodi sit magni, ab error?
                        Porro placeat maiores, reprehenderit similique molestias nisi. Amet alias minima fuga illum sed, necessitatibus repudiandae ratione, autem aliquam vel ipsum similique ipsa veritatis dolorem consequuntur, iure aperiam quam sequi quia?
                        Tempore autem amet molestias officia! Minima quae neque mollitia eligendi repellendus eaque modi minus, accusantium possimus officia maxime quas animi, non esse dolores obcaecati eos voluptate totam! Et, possimus harum.
                        Earum, rerum veritatis voluptates quidem pariatur, alias minus eius inventore consectetur, obcaecati aliquid voluptatem quos in. Laboriosam similique, exercitationem facilis ducimus culpa, inventore in, labore error distinctio dolores a provident?
                        Ab eveniet perferendis deleniti, eius dolorum similique ducimus exercitationem facilis unde voluptatibus aliquid quam distinctio accusantium dolores tempore, enim quas maiores odit neque praesentium? Quis enim omnis similique natus adipisci!
                        Dignissimos tempora quia mollitia aliquid doloremque omnis illum? Cupiditate animi vel reprehenderit possimus beatae, dignissimos ad veniam. Quidem debitis ipsum temporibus illo molestias quis, impedit atque et consequuntur dignissimos tempora.
                        Nobis aperiam molestiae praesentium accusantium odit et nesciunt beatae laborum veniam. Reiciendis, consequatur, necessitatibus numquam ipsa minus vel iste adipisci hic totam nesciunt alias assumenda sapiente dicta deleniti accusamus! In.
                        Perspiciatis, sed inventore. Repellendus fugiat distinctio, vitae expedita minus iure nostrum porro quis corrupti architecto ratione, aliquam impedit laboriosam esse soluta quam? Esse fugiat quaerat aliquid voluptas eaque porro eum?
                        Necessitatibus quo esse quam consequatur assumenda maxime, reiciendis saepe, temporibus, fuga rerum vitae veritatis repellendus praesentium harum delectus adipisci blanditiis. Mollitia sequi dolor libero ratione repellendus aspernatur sunt necessitatibus minus.
                        Quas maxime aperiam, explicabo soluta cum rem laboriosam voluptas eveniet obcaecati temporibus quia voluptates id quasi. Molestiae voluptatem temporibus nulla commodi culpa nihil consequatur, maxime enim possimus ipsam asperiores itaque.
                        Facilis animi non error, provident nisi rerum in debitis recusandae quae, dignissimos ab? Asperiores dicta, totam tempore delectus, non similique ex corrupti deserunt architecto alias ipsa? Impedit ut esse similique.
                        Vel beatae magni maxime eius dignissimos nobis iusto temporibus, dolorem labore amet pariatur mollitia quae iure laudantium suscipit debitis soluta aperiam nemo recusandae similique reiciendis odio. Quibusdam sapiente esse harum.</p>

                        <div class="note-footer-area">

                            <div class="note-tags">#HTML, #Foundations, #WIP</div>

                            <div class="note-date-info">23.10.2020</div>

                        </div>

                    </div>

                    <div class="note">

                        <div class="note-title-area">

                            <h3 class="note-title">Title Goes Here</h3>

                            <button class="note-edit">Edit</button>

                        </div>

                        <hr>

                        <p class="note-body">This is a note</p>

                        <div class="note-footer-area">

                            <div class="note-tags">#HTML, #Foundations, #WIP</div>

                            <div class="note-date-info">23.10.2020</div>
                            
                        </div>

                    </div>

                    <div class="note">

                        <div class="note-title-area">

                            <h3 class="note-title">Title Goes Here</h3>

                            <button class="note-edit">Edit</button>

                        </div>

                        <hr>

                        <p class="note-body">This is a note</p>

                        <div class="note-footer-area">

                            <div class="note-tags">#HTML, #Foundations, #WIP</div>

                            <div class="note-date-info">23.10.2020</div>
                            
                        </div>

                    </div>

                    <div class="note">

                        <div class="note-title-area">

                            <h3 class="note-title">Title Goes Here</h3>

                            <button class="note-edit">Edit</button>

                        </div>

                        <hr>

                        <p class="note-body">

                            This is a note

                        </p>

                        <div class="note-footer-area">

                            <div class="note-tags">#HTML, #Foundations, #WIP</div>

                            <div class="note-date-info">23.10.2020</div>
                            
                        </div>

                    </div>

                    <div class="note">

                        <div class="note-title-area">

                            <h3 class="note-title">Title Goes Here</h3>

                            <button class="note-edit">Edit</button>

                        </div>

                        <hr>

                        <p class="note-body">This is a note</p>

                        <div class="note-footer-area">

                            <div class="note-tags">#HTML, #Foundations, #WIP</div>

                            <div class="note-date-info">23.10.2020</div>
                            
                        </div>

                    </div>




                </div>
            </div>

        </div>
        {% block content %}{% endblock %}
    </body>
    
</html>